.event_description {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0px;
  position: relative;
  top: 450px;
}

.artist_name2 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
  font-family: "Anton", "Helvetica", "sans-serif" !important;
  letter-spacing: 0.10em;
}

.event_category {
  font-size: 17px !important;
  font-weight: bold;
  color: white;
  font-family: "Roboto", "Helvetica", "sans-serif" !important;
}

.body_event_show {

}
