.taille_texte {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.taille_texte2 {
font-family: "Roboto" !important;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
margin-top: 70px;
}

.taille_texte3 {
  font-family: "Roboto" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: white !important;
  margin-top: 20px;

}
// Specific CSS for your home-page

.taille_texte_vosevenements {
font-family: "Roboto" !important;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
margin-bottom: 3px !important;
color: #FFFFFF;

}
