
<div class="align-items-start">
<div class="logo mx-auto">
  <p class="out">OUT</p>
  <br>
  <button id='btn-filter-map-id' class="btn-filter-map"> FILTRER </button>
</div>

<div
  id="map"
  height: 100%;
  data-markers="<%= @markers.to_json %>"
  data-markersgeojson="<%= @markers_geojson.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- Boutons FILTRER -->
<nav id='filter-group' class='filter-group'></nav>


<!-- -------------------------------------------------- -->

<!-- <!DOCTYPE html>


<html>
<head>
<meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>


</head>
<body>

<div
  id="map"
  height: 600px;
  data-markers="<%#= @markers.to_json %>"
  data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"
>
</div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmVtaXdhZ29uIiwiYSI6ImNqeXNoMHhoZjBrMGEzZG1sNWszMWxjdTIifQ.eK83n7z1SJ-QDSNGqfzBWg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/remiwagon/cjzjn3hsn50nz1cpgqkuhwfn7',
center: [5.3808, 43.2908],
zoom: 12

});


</script>
<script>
// map.on('load', function () {
// // Add a symbol layer.
// mapboxgl.Popup().setHTML(marker.infoWindow)({

// });

  // const mapElement = document.getElementById('map');

  //   const markers = JSON.parse(mapElement.dataset.markers);
  //   markers.forEach((marker) => {

  //     const popup = new mapboxgl.Popup().setHTML(marker.infoWindow);

  //     // Create a HTML element for your custom marker
  //     const element = document.createElement('div');
  //     element.className = 'marker';
  //     element.style.backgroundImage = `url('${marker.image_url}')`;
  //     element.style.backgroundSize = 'contain';
  //     element.style.width = '15px';
  //     element.style.height = '15px';
  //     element.style.boxShadow = "0px 0px 12px 1px white"
  //     element.style.borderRadius = "100px"
  //     element.style.border ="1px solid white"


  //     new mapboxgl.Marker(element)
  //       .setLngLat([ marker.lng, marker.lat ])
  //       .setPopup(popup)
  //       .addTo(map);
  //   });
  //   map.addControl(new MapboxGeocoder({ accessToken: mapboxgl.accessToken }));
  //   fitMapToMarkers(map, markers);

// Center the map on the coordinates of any clicked symbol from the 'symbols' layer.
map.on('click', 'markers', function (e) {
map.flyTo({center: e.features[0].geometry.coordinates});
});

// Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
map.on('mouseenter', 'markers', function () {
map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'markers', function () {
map.getCanvas().style.cursor = '';
});
});
</script>
 <script>
// Add geolocate control to the map.
map.addControl(new mapboxgl.GeolocateControl({
positionOptions: {
enableHighAccuracy: true
},
trackUserLocation: true
}));
</script>

</body>

</html> -->


<!-- _________________________________________________________________ -->



<!-- <!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Center the map on a clicked symbol</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>

<div
  id="map"
  height: 600px;
  data-markers="<%#= @markers.to_json %>"
  data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"
>
</div>

<script>
	geojson.features.forEach(function(marker) {
	var el = document.createElement('div');
  el.className = 'marker';
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
});

new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.address + '</p>'))
  .addTo(map);

</script>

<script>

mapboxgl.accessToken = 'pk.eyJ1IjoiemJvdWJ5IiwiYSI6ImNqemw4eDR0OTBsNGIzaW4wZmljNzlxcHAifQ.HLDft1Svti_0ZMPLNU-aKg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/dark-v10',
center: [ 5.36, 43.29],
zoom: 11
});
</script>

</body>
</html>
 -->
