body {
	background: white;
}

.marseille {
  width: 151px;
  height: 27px;

  font-family: 'Anton' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;

  color: #FFFFFF;
}


.pourvous {
  width: 151px;
  height: 27px;

  font-family: 'Anton' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.17em;
  color: #FFFFFF;
}



p, h1, h2, h3, h4, h5 {
	font-family: "Roboto", "Helvetica", "sans-serif" !important;
  color: #D6D6D6;
  font-size: 11px;
}

//--------CART EVENT--------------------------//

.card-event {
	display:inline-block;
	width: 324px;
	height: 170px;
	// left: 31px;
	// top: 196px;
	background: transparent;
	border-radius: 3px;
	color: #A0A0A0;
	font-family: avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin: auto;
	position: relative;
}

.color-line-event {
  height: 2.5px;
  width: 149px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 21px,
  orange 21px, orange 42px,
  yellow 21px, yellow 64px,
  green 21px, green 85px,
  blue 21px, blue 106px,
  pink 21px, pink 128px,
  purple 21px, purple 149px);
  position: absolute;
  transform: rotate(-90deg);
  bottom: 85px;
  left: -68px;
}

.card-event h3 {
	font-size: 23px;
	// bottom: 90px;
	// left: 137px;
	// text-align: left;
}

// .card-event p {
// 	position: absolute;
// 	bottom: 0px;
// 	left: 137px;
// 	line-height: 20px;
// 	text-align: left;
// }

.img_event {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;

position: absolute;
width: 88px;
height: 149px;
left: 210px;
border-radius: 4px;
}

.img_event_artist {
  height: 85px;
  width: 65px;
  position: absolute;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo_event {
	margin-right: 7px;
}

.card-event .title-event {
  position: absolute;
width: 170px;
height: 20px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 27px;
color: #FFFFFF;
transform: rotate(-90deg);
left: -58px;
vertical-align: top;
text-align: left;
top: 55px;
}

//----------------------------------------------//

//------------CARD-NEXT-EVENT-DATE--------------//

.li-event-old {
  margin-top: 250px;
}

.card-event-old {
  display:inline-block;
  width: 286px;
  height: 109px;
  // left: 31px;
 // top: 56px;
  background: #343434;
  border-radius: 3px;
  color: #A0A0A0;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin: auto;
  position: relative;
}

.card-event-old h3 {
  font-size: 12px;
  position: absolute;
  bottom: 80px;
  left: 97px;
  text-align: left;
}

.card-event-old p {
  position: absolute;
  bottom: 0px;
  left: 97px;
  line-height: 20px;
  text-align: left;
}

.img_event_old {
  height: 85px;
  width: 65px;
  position: absolute;
  left: 10px;
  top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  filter: grayscale(100%);
}



.text-event{
  position: absolute;
  width: 124px;
  height: auto;
  left: 75px;
  bottom: -13px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  text-align: right;
  vertical-align: text-bottom;
  color: white;
  letter-spacing: 1px;
}


.title-text-event {
  position: absolute;
  width: 154px;
  height: 58px;
  bottom: 23px;
  left:40px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 18px !important;
  line-height: 20px;
  text-align: right !important;
  color: #ffffff;
}

.title-text-event4 {
  position: absolute;
  width: 154px;
  height: 58px;
  top: 70px;
  left: 46px !important;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 18px !important;
  line-height: 20px;
  text-align: right !important;
  color: #ffffff;
}
//----------------------------------------------//

.li_height_artist {
margin-top: -50px;
top: 20px;

}

//--------------CARD-ARTIST---------------------//

.card-artist {
	width: 136px;
height: 137px;
	left: 9px;
  top: 20px;
	background: transparent;
	border-radius: 3px;
	color: #A0A0A0;
	font-family: avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #A0A0A0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	position: relative;
}

.card_artist2 {
  width: 109px;
  height: 109px;
  left: 9px;
  background: #343434;
  border-radius: 3px;
  color: #A0A0A0;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #A0A0A0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0px;
  position: relative;
}

.color-line {
  line-height: 100%;
  height: 3px;
  width: 109px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 15px,
  orange 15px, orange 31px,
  yellow 15px, yellow 46px,
  green 15px, green 62px,
  blue 15px, blue 77px,
  pink 15px, pink 93px,
  purple 15px, purple 109px);
  position: relative;
  transform: rotate(-90deg);
  left: -53px;
  top: 7px;
  border-radius-bottom-left: 5px
}

.color-line2 {
  line-height: 100%;
  height: 3px;
  width: 109px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 15px,
  orange 15px, orange 31px,
  yellow 15px, yellow 46px,
  green 15px, green 62px,
  blue 15px, blue 77px,
  pink 15px, pink 93px,
  purple 15px, purple 109px);
  position: relative;
  transform: rotate(-90deg);
  left: -53px;
  top: 50px;
  border-radius-bottom-left: 5px
}

.card-artist h3 {
font-size: 13px;
line-height: 15px;
font-weight: bold;
position: relative;
left: 0px;
top: 63px;
}

.card_artist2 p {
font-size: 13px;
line-height: 15px;
font-weight: bold;
position: relative;
left: 0px;
top: -43px;
}

.img_artist-card {
width: 160px;
height: 160px;
	position: absolute;
	border-radius: 3px;
  margin-top: 17px;
}

.background-artist {
  position: absolute;
width: 100%;
height: 278px;
left: 0px;
top: 495px;
background: white;
border-radius: 19px;
z-index: 0;
}

.background-artist-event {
  position: absolute;
width: 374px;
height: 270px;
left: 0px;
top: 480px;
background: black;
border-radius: 19px;
z-index: 0;
}

.background-pourvous {
position: absolute;
width: 374px;
height: 2850px;
left: 0px;
top: 200px;

background: black;
border-radius: 19px 19px 0px 0px;
z-index: 0;
}

.background-dash-top {
position: absolute;
width: 374px;
height: 800px;
left: 0px;
top: 0px;

background: black;
border-radius: 0px 0px 19px 19px;
z-index: 0;
}

.background-dash-bottom {
position: absolute;
width: 374px;
height: 3035px;
left: 0px;
bottom: -3330px;
background: black;
border-radius: 19px 19px 0px 0px;
z-index: 0;
}

// .background-artist-prefere {
//   position: absolute;
// width: 374px;
// height: 270px;
// left: 0px;
// top: 830px;

// background: #5B5B5B;
// border-radius: 19px;
// z-index: 0;
// }
//----------------------------------------------//

//--------------CARD-NEXT-EVENT-----------------//

.card-next-event {
	display:inline-block;
  width: 324px;
  height: 170px;
  // left: 31px;
  // top: 196px;
  background: transparent;
  border-radius: 3px;
  color: #A0A0A0;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin: auto;
  position: relative;
}

.color-line-next-event {
  height: 2.5px;
  width: 149px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 21px,
  orange 21px, orange 42px,
  yellow 21px, yellow 64px,
  green 21px, green 85px,
  blue 21px, blue 106px,
  pink 21px, pink 128px,
  purple 21px, purple 149px);
  position: absolute;
  transform: rotate(-90deg);
  bottom: 85px;
  left: -68px;
}

.card-next-event h3 {
  position: absolute;
width: 168px;
height: 20px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 27px;
color: #FFFFFF;
transform: rotate(-90deg);
left: -58px;
vertical-align: top;
text-align: left;
top: 65px;
}

.card-next-event p {
	position: absolute;
	bottom: 0px;
	left: 115px;
	line-height: 20px;
	text-align: left;

}

.img_next_event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

position: absolute;
width: 88px;
height: 149px;
left: 210px;
border-radius: 4px;
}

.logo_next_event {
	margin-right: 7px;
}

.text-next-event {
    position: relative;
  width: 154px;
  height: 58px;
  left: 47px !important;
  bottom: -50px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  text-align: right !important;
  color: #A0A0A0;
}
//----------------------------------------------//

//--------------CARD-NEXT-EVENT-DISCVOVER-----------------//

.card-next-event-discover {
  display:inline-block;
  width: 324px;
  height: 170px;
  // left: 31px;
  // top: 196px;
  background: transparent;
  border-radius: 3px;
  color: #A0A0A0;
  font-family: avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 300px;
  top: -300px;
  left: 0px !important;
}

.color-line-next-event-discover {
  height: 2.5px;
  width: 149px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 21px,
  orange 21px, orange 42px,
  yellow 21px, yellow 64px,
  green 21px, green 85px,
  blue 21px, blue 106px,
  pink 21px, pink 128px,
  purple 21px, purple 149px);
  position: absolute;
  transform: rotate(-90deg);
  bottom: 85px;
  left: -68px;
}

.card-next-event-discover h3 {
  position: absolute;
width: 168px;
height: 20px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 27px;
color: #FFFFFF;
transform: rotate(-90deg);
left: -58px;
text-align: left;
top: 65px;
}

.card-next-event-discover p {
  position: absolute;
  bottom: 0px;
  left: 115px;
  line-height: 20px;
  text-align: left;

}

.img_next_event-discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

position: absolute;
width: 88px;
height: 149px;
left: 210px;
border-radius: 4px;
}

.logo_next_event-discover {
  margin-right: 7px;
}

.text-next-event-discover {
    position: relative;
  width: 154px;
  height: 58px;
  left: 47px !important;
  bottom: -50px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  text-align: right !important;
  color: #A0A0A0;
}

.title-text-event-discover {
  position: absolute;
  width: 154px;
  height: 58px;
  left: 47px !important;
  bottom: 25px !important;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 18px !important;
  line-height: 20px;
  text-align: right !important;
  color: #ffffff;
}

.ses_prochains_events_discover {
  left: 0px !important;
  top: 50px !important;
}

.ses_anciens_events {
  left: 20px !important;
  top: 600px !important;
}
//----------------------------------------------//

//------------CARD-NEXT-EVENT-DATE--------------//


.card-next-event-date {
position: absolute;
width: 72px;
height: 72px;
top: 0px;
bottom: 0px;
background: #ffffff;
border-radius: 3px;
margin:auto 0 auto auto;
right: -10px;
text-align: center;
}


.card-next-event-date h2{
position: absolute;
left: 12px;
color: white;
top: 6px;
font-size: 40px;
font-style: normal;
font-weight: 900;
text-align: center;
}

.card-next-event-date h3{
position: absolute;
left: 18px;
color: white;
top: 42px;
font-size: 16px;
font-style: normal;
font-weight: 900;
text-align: center;
}


.card-next-event-date2 {
  position: relative;
  width: 72px;
  height: 72px;
  background: #000000;
  border-radius: 3px;
  margin: auto 0 0 auto;
  top: 137px;
  right: 10px;
}


.card-next-event-date2 h2{
  position: relative;
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  height: 40px;
}

.card-next-event-date2 h3{
  position: relative;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

//------------------OUFDIHDOHDIIF----------------------------//
.card-next-event-date-last {
position: absolute;
width: 72px;
height: 72px;
top: -21px;
bottom: 0px;
background: #ffffff;
border-radius: 3px;
margin:auto 0 auto auto;
right: -33px;
text-align: center;

width: 113.12px;
height: 43.55px;


transform: rotate(90deg);
}


.card-next-event-date-last h2{
position: absolute;
left: 15px;
color: black;
top: -1px;
font-size: 40px;
font-style: normal;
font-weight: 900;
text-align: center;
}

.card-next-event-date-last h3{
position: absolute;
left: 0px;
color: black;
top: 7px;
font-size: 18px;
font-style: normal;
font-weight: 900;
text-align: center;
transform: rotate(0deg) !important;

}

//----------------USER DATE---------//

.card-next-event-date-last-user {
position: absolute;
width: 72px;
height: 72px;
top: 0px;
bottom: 0px;
background: #ffffff;
border-radius: 3px;
margin:auto 0 auto auto;
right: -33px;
text-align: center;

width: 113.12px;
height: 43.55px;


transform: rotate(90deg);
}


.card-next-event-date-last-user h2{
position: absolute;
left: 15px;
color: black;
top: -1px;
font-size: 40px;
font-style: normal;
font-weight: 900;
text-align: center;
}

.card-next-event-date-last-user h3{
position: absolute;
left: 65px;
color: black;
top: 10px;
font-size: 18px;
font-style: normal;
font-weight: 900;
text-align: center;
transform: rotate(0deg) !important;

}



//----------------COLOR-LINE--------------------//

.color-line-bottom {
  line-height: 100%;
  height: 2px;
  width: 100%;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 53.57px,
  orange 15px, orange 107.14px,
  yellow 15px, yellow 160.71px,
  green 15px, green 214.28px,
  blue 15px, blue 267.85px,
  pink 15px, pink 321.42px,
  purple 15px, purple 375px);
}

.color-line-top {
  line-height: 100%;
  height: 1px;
  width: 286px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 40px,
  orange 15px, orange 81px,
  yellow 15px, yellow 122px,
  green 15px, green 163px,
  blue 15px, blue 204px,
  pink 15px, pink 244px,
  purple 15px, purple 286px);
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.color-line-top2 {
  line-height: 100%;
  height: 1px;
  width: 286px;
  background-image: repeating-linear-gradient(to right,
  red 0px, red 40px,
  orange 15px, orange 81px,
  yellow 15px, yellow 122px,
  green 15px, green 163px,
  blue 15px, blue 204px,
  pink 15px, pink 244px,
  purple 15px, purple 286px);
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
}


