
 .lign-chapiter {
	position: absolute;
	width: 298px;
	height: 0px;
	left: 39px;
	top: 179px;
	color: #A0A0A0;
	border: 0.5px solid #A0A0A0;
}

.lign-chapiter2 {
  position: relative;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
  margin-top: 70px;
}

.lign-chapiter-vosevenement {
  position: relative;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
}

.lign-chapiter-vostyles {
  position: relative;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
}

.lign-chapiter-vosartistes {
  position: relative;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
}

.lign-chapiter-event-cesoir {
  position: relative;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
  margin-top: 0px;
}

.lign-chapiter3 {
  position: absolute;
  top: 50px;
  width: 298px;
  height: 2px;
  left: 39px;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
}

.title-chapiter {
position: absolute;
	width: 153px;
	height: 19px;
	left: 38px;
	top: 151px;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	color: #A0A0A0;
	font-weight: 600;
}


.chapiter-artist-month {
	position: absolute;
	top: 170px;
}

.chapiter-next-event {
	position: absolute;
	top: 344px;
}

.chapiter-your-style {
  position: absolute;
  top: 104px;
}

.chapiter-your-old-event {
  position: absolute;
  top: 250px;
}

.chapiter-your-fav-artist {
  position: absolute;
  top: 445px;
}

.chapiter-selection-event {
  position: absolute;
  top: 35px;
}
//-_____________________________________________-//


.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  margin-top: 45px;
  width: 100% !important;
}

.app2 {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  width: 100%;
}

.app2 > * {
  grid-column: 2 / -2;
}

.app2 > .full {
  grid-column: 1 / -1;
}


.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

.hs2 {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  height: 200px;
}

.hs2:before,
.hs2:after {
  content: '';
  width: 10px;
}


/* Demo styles */

body {
  height: 100%;
}

.bodyhome {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: black;
}

.bodyhome2 {
  display: grid;
  place-items: center;
  background-color: #5B5B5B;
}

.bodydash {
  height: 100%;
  place-items: center;
  background-color: #5B5B5B;
}
// .bodyhome2 a {
//   display: none;
// }
.bodyhomeanciens {
  position: absolute;
  top: 1100px;
  height: 100%;
  place-items: center;
  background-color: black;
  border-radius: 19px 19px 0px 0px;
}
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.app {
  width: 375px;
  height: 667px;
  overflow-y: scroll;
}

.app2 {
  width: 375px;
  height: auto;
  overflow-y: scroll;
}

.hs > li,
.card-event {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.hs2 > li,
.card-artist {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}




.li_height {
	height: 109px;
}

.no-scrollbar {
  no-scrollbar: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
