.preferences {
  width: auto;
  height: auto;
  border: 1px solid #A1A1A1;
  border-radius: 1px;
  color: #A1A1A1;
  text-decoration: none;
}

.preferences:hover {
  text-decoration: none;
  color: #A1A1A1;
  box-shadow: 1px 2px;
}


.preferences_selection {
  width: auto;
  height: auto;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
  background-color: #6E6E6E;
  text-decoration: none;
  box-shadow: 2px 2px 0px white;
}

.preferences_selection:hover {
  text-decoration: none;
  color: white;
  box-shadow: 1px 2px #A1A1A1;
}
