.music {
  width: 353px;
  height: 85px;
  background: #343434;
}

.titre_music_card {
  font-size: 11px;
  color: #A1A1A1;
  margin: 0px;
  font-family: "Roboto", "Helvetica", "sans-serif" !important;
  font-style: normal;
  font-weight: bold;
}
