.navbar-lewagon {
  background: black;
  height: 46px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 26px;
  border-style: none;
  border: none;
  text-align: center;
  vertical-align: baseline;
}
